<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.renewal_firstclass.dao.AdminConfirmListDAO">

    <sql id="searchCondition">
        <where>
            <if test="keyword != null and keyword != ''">
                (u.name LIKE '%' || #{keyword} || '%' OR c.confirm_number LIKE '%' || #{keyword} || '%')
            </if>
            <if test="status != null and status != ''">
                <choose>
	                <when test="status == 'PENDING' or status == 'ST_20'">
	                    AND c.status_code IN ('ST_20', 'ST_30', 'ST_40')
	                </when>
	                <when test="status == 'APPROVED'">
	                    AND c.status_code = 'ST_50'
	                    AND c.rejection_reason_code IS NULL
	                </when>
	                <when test="status == 'REJECTED'">
	                    AND c.status_code = 'ST_50'
	                    AND c.rejection_reason_code IS NOT NULL
	                </when>
	                <when test="status == 'ST_50'">
	                    AND c.status_code = 'ST_50'
	                </when>
            	</choose>
            </if>
            <if test="date != null and date != ''">
            	AND TO_CHAR(c.apply_dt, 'YYYY-MM-DD') = #{date}
            </if>
            AND c.delt_at = 'N'
            AND c.status_code != 'ST_10'
            AND c.status_code != 'ST_60'
        </where>
    </sql>

    <select id="selectConfirmList" resultType="com.example.renewal_firstclass.domain.AdminConfirmListDTO">
        SELECT
            c.confirm_number AS confirmNumber,
            c.user_id AS userId,
            u.name AS name,
            c.status_code AS statusCode,
            c.rejection_reason_code AS rejectionReasonCode,
            TO_CHAR(c.apply_dt, 'YYYY-MM-DD') AS applyDate,
            CASE
                WHEN c.status_code IN ('ST_20', 'ST_30') THEN '대기'
                WHEN c.status_code = 'ST_50' THEN '처리완료'
                ELSE '기타'
            END AS statusName
        FROM
            TB_CONFIRM_APPLICATION c
        JOIN
            TB_User u ON c.user_id = u.id
        <include refid="searchCondition"/>
        ORDER BY
            c.confirm_number DESC
        OFFSET #{pageDTO.startList} ROWS FETCH NEXT #{pageDTO.listSize} ROWS ONLY
    </select>

    <select id="selectTotalCount" resultType="int">
        SELECT 
            COUNT(*)
        FROM 
            TB_CONFIRM_APPLICATION c
        JOIN
            TB_User u ON c.user_id = u.id
        <include refid="searchCondition"/>
    </select>

    <select id="selectStatusCount" resultType="int">
        SELECT COUNT(*)
        FROM TB_CONFIRM_APPLICATION
        WHERE status_code = #{statusCode}
          AND delt_at = 'N'

    </select>
	
	<select id="selectStatusCountIn" resultType="int">
        SELECT COUNT(*)
        FROM TB_CONFIRM_APPLICATION
        WHERE status_code IN
        <foreach item="item" index="index" collection="codes" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND delt_at = 'N'
    </select>
</mapper>