<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.renewal_firstclass.dao.AttachedFileDAO">

<insert id="insertFile" parameterType="com.example.renewal_firstclass.domain.AttachedFileDTO">
  INSERT INTO TB_ATTACHED_FILE (file_id, file_type, file_url, sequence)
  VALUES (#{fileId}, #{fileType}, #{fileUrl}, #{sequence})
</insert>

<select id="selectNextFileId" resultType="long">
  SELECT SEQ_FILE_BUNDLE_ID.NEXTVAL FROM DUAL
</select>

  <select id="selectNextSequence" resultType="int">
    SELECT NVL(MAX(sequence), 0)
    FROM TB_ATTACHED_FILE
    WHERE file_id = #{fileId}
  </select>
  
    <select id="selectOneByFileIdAndSeq"
          parameterType="map"
          resultType="com.example.renewal_firstclass.domain.AttachedFileDTO">
    SELECT
      file_id,
      sequence,
      file_type,
      file_url
    FROM TB_ATTACHED_FILE
    WHERE file_id = #{fileId}
      AND sequence = #{sequence}
  </select>

  <select id="findOwnerUserIdByFileId"
          parameterType="long"
          resultType="long">
    SELECT user_id
    FROM TB_CONFIRM_APPLICATION
    WHERE file_id = #{fileId}
      AND NVL(delt_at,'N') = 'N'
    FETCH FIRST 1 ROWS ONLY
  </select>
  
  
  <select id="selectFilesByFileId"
        parameterType="long"
        resultType="com.example.renewal_firstclass.domain.AttachedFileDTO">
  SELECT
    file_id,
    sequence,
    file_type,
    file_url
  FROM TB_ATTACHED_FILE
  WHERE file_id = #{fileId}
  ORDER BY file_type, sequence
</select>


<delete id="deleteByFileId" parameterType="long">
  DELETE FROM TB_ATTACHED_FILE
  WHERE file_id = #{fileId}
</delete>

<!-- 특정 시퀀스만 삭제 -->
<delete id="deleteOne" parameterType="map">
  DELETE FROM TB_ATTACHED_FILE
  WHERE file_id = #{fileId}
    AND sequence = #{sequence}
</delete>



</mapper>