<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.renewal_firstclass.dao.AttachedFileDAO">

<insert id="insertFile" parameterType="com.example.renewal_firstclass.domain.AttachedFileDTO">
  INSERT INTO TB_ATTACHED_FILE (file_id, file_type, file_url, sequence)
  VALUES (#{fileId}, #{fileType}, #{fileUrl}, #{sequence})
</insert>

<select id="selectNextFileId" resultType="long">
  SELECT SEQ_FILE_BUNDLE_ID.NEXTVAL FROM DUAL
</select>

  <select id="selectNextSequence" resultType="int">
    SELECT NVL(MAX(sequence), 0)
    FROM TB_ATTACHED_FILE
    WHERE file_id = #{fileId}
  </select>
  
</mapper>