<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.renewal_firstclass.dao.TermAmountDAO">

  <insert id="insertTermAmount" parameterType="java.util.List">
    BEGIN
      <foreach collection="list" item="t">
        INSERT INTO TB_TERM_AMOUNT (
          payment_date, company_payment, gov_payment,
          start_month_date, end_month_date, confirm_number, update_at, init_at
        ) VALUES (
          #{t.paymentDate,    jdbcType=DATE},
          #{t.companyPayment},
          #{t.govPayment},
          #{t.startMonthDate, jdbcType=DATE},
          #{t.endMonthDate,   jdbcType=DATE},
          #{t.confirmNumber},
          CASE WHEN #{t.updateAt} = 'Y' THEN 'Y' ELSE 'N' END,
          CASE WHEN #{t.initAt} = 'N' THEN 'N' ELSE 'Y' END
        );
      </foreach>
    END;
  </insert>
  
<select id="selectByConfirmId"
        parameterType="long"
        resultType="com.example.renewal_firstclass.domain.TermAmountDTO">
  SELECT
    t.term_id,
    t.confirm_number,
    t.payment_date,
    t.company_payment,
    t.gov_payment,
    t.start_month_date,
    t.end_month_date,
    t.update_at
  FROM TB_TERM_AMOUNT t
  WHERE t.confirm_number = #{confirmNumber}
    AND t.delt_at = 'N'
    AND t.init_at = 'Y'
    AND t.update_at = CASE
      WHEN EXISTS (
        SELECT 1
        FROM TB_TERM_AMOUNT x
        WHERE x.confirm_number = #{confirmNumber}
          AND x.delt_at = 'N'
          AND x.init_at = 'Y'
          AND x.update_at = 'Y'
      )
      THEN 'Y'
      ELSE 'N'
    END
  ORDER BY t.start_month_date
</select>

  <delete id="deleteTermsByConfirmId" parameterType="long">
    DELETE FROM TB_TERM_AMOUNT
    WHERE confirm_number = #{confirmNumber}
  </delete>
  
    <select id="countTotalTermsByConfirmNumbers" resultType="int" parameterType="java.util.List">
    SELECT
        COUNT(*)
    FROM
        TB_TERM_AMOUNT
    WHERE
        CONFIRM_NUMBER IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
  </select>
  
</mapper>


