<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.renewal_firstclass.dao.UserApplyDAO">
	<select id="findByUsername" parameterType="string" resultType="SimpleUserInfoVO">
		SELECT name, registration_number
		FROM TB_User
		WHERE username = #{username}
	</select>
	<select id="selectSimpleConfirmList" parameterType="map" resultType="SimpleConfirmVO">
	    SELECT
	        c.confirm_number,
	        TO_CHAR(c.apply_dt, 'YYYY-MM-DD') AS applyDt,
	        TO_CHAR(c.start_date, 'YYYY-MM-DD') AS startDate,
	        TO_CHAR(c.end_date, 'YYYY-MM-DD')   AS endDate,
	        u.name,
	        u.phone_number
	    FROM
	        TB_CONFIRM_APPLICATION c
	    INNER JOIN
	        TB_USER u ON c.user_id = u.id
	    WHERE
	        c.delt_at = 'N'
	        AND c.status_code = 'ST_50'
	        AND COALESCE(c.upd_name, c.name) = #{name}
	        AND COALESCE(c.upd_registration_number, c.registration_number) = #{registrationNumber}
	        AND u.role = 'ROLE_CORP'
	</select>
    <resultMap id="applicationSingleQueryResultMap" type="com.example.renewal_firstclass.domain.ApplicationDTO">
        <id property="confirmNumber" column="app_confirm_number"/>
        <result property="name" column="user_name"/>
        <result property="registrationNumber" column="user_reg_num"/>
        <result property="zipNumber" column="user_zip_number"/>
        <result property="addressBase" column="user_address_base"/>
        <result property="addressDetail" column="user_address_detail"/>
        <result property="phoneNumber" column="user_phone_number"/>
        
        <result property="companyName" column="comp_name"/>
        <result property="buisinessRegiNumber" column="comp_busi_reg_num"/>
        <result property="companyZipNumber" column="comp_zip_number"/>
        <result property="companyAddressBase" column="comp_address_base"/>
        <result property="companyAddressDetail" column="comp_address_detail"/>

        <result property="startDate" column="app_start_date"/>
        <result property="endDate" column="app_end_date"/>
        <result property="regularWage" column="app_regular_wage"/>
        <result property="weeklyHours" column="app_weekly_hours"/>
        <result property="childName" column="app_child_name"/>
        <result property="childBirthDate" column="app_child_birth_date"/>
        <result property="childResiRegiNumber" column="app_child_resi_regi_num"/>
        
        <collection property="list" ofType="com.example.renewal_firstclass.domain.TermAmountDTO">
            <id property="termId" column="term_id"/>
            <result property="companyPayment" column="company_payment"/>
            <result property="govPayment" column="gov_payment"/>
            <result property="paymentDate" column="payment_date"/>
            <result property="startMonthDate" column="start_month_date"/>
            <result property="endMonthDate" column="end_month_date"/>
            <result property="confirmNumber" column="term_confirm_number"/>
            <result property="updateAt" column="update_at"/>
            <result property="earlyReturnDate" column="early_return_date"/>
            <result property="govPaymentUpdate" column="gov_payment_update"/>
        </collection>
    </resultMap>


    <select id="getApplicationDTO" parameterType="long" resultMap="applicationSingleQueryResultMap">
        SELECT
            -- 4. Application 정보 (수정됨)
            a.confirm_number AS app_confirm_number,
            COALESCE(a.upd_start_date, a.start_date) AS app_start_date,
            COALESCE(a.upd_end_date, a.end_date) AS app_end_date,
            COALESCE(a.upd_regular_wage, a.regular_wage) AS app_regular_wage,
            COALESCE(a.upd_weekly_hours, a.weekly_hours) AS app_weekly_hours,
            COALESCE(a.upd_child_name, a.child_name) AS app_child_name,
            COALESCE(a.upd_child_birth_date, a.child_birth_date) AS app_child_birth_date,
            COALESCE(a.upd_child_resi_regi_number, a.child_resi_regi_number) AS app_child_resi_regi_num,
            
            -- 1. 신청자 정보 (TB_USER as u1)
            u1.name AS user_name,
            u1.registration_number AS user_reg_num,
            u1.zip_number AS user_zip_number,
            u1.address_base AS user_address_base,
            u1.address_detail AS user_address_detail,
            u1.phone_number AS user_phone_number,
            
            -- 2. 회사 정보 (TB_USER as u2)
            u2.name AS comp_name,
            u2.buisiness_regi_number AS comp_busi_reg_num,
            u2.zip_number AS comp_zip_number,
            u2.address_base AS comp_address_base,
            u2.address_detail AS comp_address_detail,
            
            -- 3. Term Amount 정보
            t.term_id,
            t.payment_date,
            t.company_payment,
            t.gov_payment,
            t.start_month_date,
            t.update_at,
            t.end_month_date,
            t.confirm_number AS term_confirm_number
        FROM
            TB_CONFIRM_APPLICATION a
        -- 1. 신청자 정보 조인 (수정된 부분)
        JOIN
            TB_USER u1 ON u1.registration_number = COALESCE(a.upd_registration_number, a.registration_number)
        -- 2. 회사 정보 조인
        JOIN
            TB_USER u2 ON a.user_id = u2.id
        -- 3. Term Amount 정보 조인 (LEFT JOIN 필수)
        LEFT JOIN
            TB_TERM_AMOUNT t ON a.confirm_number = t.confirm_number AND <![CDATA[ t.payment_date < SYSDATE ]]> AND t.application_number is null AND t.delt_at = 'N' AND t.early_return_date is null
        WHERE
            a.confirm_number = #{confirmNumber}
    </select>
    
    <select id="getApplicationDTO2" resultMap="applicationSingleQueryResultMap">
        SELECT
            -- 4. Application 정보 (수정됨)
            a.confirm_number AS app_confirm_number,
            COALESCE(a.upd_start_date, a.start_date) AS app_start_date,
            COALESCE(a.upd_end_date, a.end_date) AS app_end_date,
            COALESCE(a.upd_regular_wage, a.regular_wage) AS app_regular_wage,
            COALESCE(a.upd_weekly_hours, a.weekly_hours) AS app_weekly_hours,
            COALESCE(a.upd_child_name, a.child_name) AS app_child_name,
            COALESCE(a.upd_child_birth_date, a.child_birth_date) AS app_child_birth_date,
            COALESCE(a.upd_child_resi_regi_number, a.child_resi_regi_number) AS app_child_resi_regi_num,
            
            -- 1. 신청자 정보 (TB_USER as u1)
            u1.name AS user_name,
            u1.registration_number AS user_reg_num,
            u1.zip_number AS user_zip_number,
            u1.address_base AS user_address_base,
            u1.address_detail AS user_address_detail,
            u1.phone_number AS user_phone_number,
            
            -- 2. 회사 정보 (TB_USER as u2)
            u2.name AS comp_name,
            u2.buisiness_regi_number AS comp_busi_reg_num,
            u2.zip_number AS comp_zip_number,
            u2.address_base AS comp_address_base,
            u2.address_detail AS comp_address_detail,
            
            -- 3. Term Amount 정보
            t.term_id,
            t.payment_date,
            t.company_payment,
            t.gov_payment,
            t.start_month_date,
            t.end_month_date,
            t.update_at,
            t.confirm_number AS term_confirm_number,
            t.early_return_date,
            t.gov_payment_update
        FROM
            TB_CONFIRM_APPLICATION a
        -- 1. 신청자 정보 조인 (수정된 부분)
        JOIN
            TB_USER u1 ON u1.registration_number = COALESCE(a.upd_registration_number, a.registration_number)
        -- 2. 회사 정보 조인
        JOIN
            TB_USER u2 ON a.user_id = u2.id
        -- 3. Term Amount 정보 조인 (LEFT JOIN 필수)
        LEFT JOIN
            TB_TERM_AMOUNT t ON a.confirm_number = t.confirm_number AND t.delt_at = 'N'
            AND (
                -- 기존 조건
                (<![CDATA[ t.payment_date < SYSDATE ]]> AND t.application_number is null)
                
                <if test="termIdList != null and !termIdList.isEmpty()">
                    OR t.term_id IN
                    <foreach item="item" collection="termIdList" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            )
        WHERE
            a.confirm_number = #{confirmNumber}
    </select>

    <insert id="insertApply" useGeneratedKeys="true" keyProperty="dto.applicationNumber" keyColumn="application_number">
    	INSERT INTO TB_PARENTAL_LEAVE_APPLICATION(
    		bank_code,
    		account_number,
    		status_code,
    		confirm_number,
    		user_id,
    		gov_info_agree,
    		center_id,
    		file_id
    	) VALUES(
    		#{dto.bankCode},
    		#{dto.accountNumber},
    		'ST_10',
    		#{dto.confirmNumber},
    		#{userId},
    		#{dto.govInfoAgree},
    		#{dto.centerId},
    		#{dto.fileId}
    	)
    </insert>
    <update id="updateConfirmApply" parameterType="com.example.renewal_firstclass.domain.ApplicationDTO">
    	UPDATE TB_CONFIRM_APPLICATION
    	SET
    		upd_child_name = #{childName},
    		upd_child_birth_date = #{childBirthDate},
    		upd_child_resi_regi_number = #{childResiRegiNumber}
    	WHERE
    		confirm_number = #{confirmNumber}
    </update>
    <select id="findApplyAndCenter" resultType="com.example.renewal_firstclass.domain.UserApplyCompleteVO">
        SELECT
            A.application_number    AS applicationNumber,
            TO_CHAR(A.submitted_dt, 'YYYY-MM-DD') AS submittedDt,
            C.center_name           AS centerName,
            C.center_URL            AS centerUrl,
            C.center_zip_code       AS centerZipCode,
            C.center_address_base   AS centerAddressBase,
            C.center_address_detail AS centerAddressDetail,
            C.center_phone_number   AS centerPhoneNumber
        FROM
            TB_PARENTAL_LEAVE_APPLICATION A
        JOIN
            TB_CENTER C ON A.center_id = C.center_id
        WHERE
            A.application_number = #{applicationNumber}
            AND A.center_id = #{centerId}
    </select>
    <select id="findApplyByUsername" parameterType="string" resultType="com.example.renewal_firstclass.domain.ApplyListDTO">
    	SELECT
    		application_number,
    		TO_CHAR(submitted_dt, 'YYYY-MM-DD') AS submittedDt,
    		status_code,
    		u.name
    	FROM TB_PARENTAL_LEAVE_APPLICATION p
    	JOIN
    		TB_USER u ON p.user_id = u.id
    	WHERE
    		u.username = #{username} AND p.delt_at = 'N'
    	ORDER BY application_number DESC
    </select>
    
    <!-- 육아휴직 상세페이지 -->
	<resultMap id="applicationDetailResultMap" type="com.example.renewal_firstclass.domain.ApplicationDetailDTO">
        <id property="applicationNumber" column="application_number"/>
        <result property="statusCode" column="status_code"/>
        <result property="bankCode" column="bank_code"/>
        <result property="accountNumber" column="account_number"/>
        <result property="govInfoAgree" column="gov_info_agree"/>

        <result property="name" column="user_name"/>
        <result property="registrationNumber" column="user_registration_number"/>
        <result property="zipNumber" column="user_zip_number"/>
        <result property="addressBase" column="user_address_base"/>
        <result property="addressDetail" column="user_address_detail"/>
        <result property="phoneNumber" column="user_phone_number"/>
        
        <result property="companyName" column="company_name"/>
        <result property="buisinessRegiNumber" column="company_buisiness_regi_number"/>
        <result property="companyZipNumber" column="company_zip_number"/>
        <result property="companyAddressBase" column="company_address_base"/>
        <result property="companyAddressDetail" column="company_address_detail"/>

        <result property="confirmNumber" column="confirm_number"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="regularWage" column="regular_wage"/>
        <result property="weeklyHours" column="weekly_hours"/>
        <result property="childName" column="child_name"/>
        <result property="childBirthDate" column="child_birth_date"/>
        <result property="childResiRegiNumber" column="child_resi_regi_number"/>
        <result property="bankName" column="name"/>

        <result property="centerId" column="center_id"/>
        <result property="centerName" column="center_name"/>
        <result property="centerUrl" column="center_URL"/>
        <result property="centerZipCode" column="center_zip_code"/>
        <result property="centerAddressBase" column="center_address_base"/>
        <result property="centerAddressDetail" column="center_address_detail"/>
        <result property="centerPhoneNumber" column="center_phone_number"/>

        <collection property="list" ofType="com.example.renewal_firstclass.domain.TermAmountDTO">
            <id property="termId" column="term_id"/>
            <result property="companyPayment" column="company_payment"/>
            <result property="govPayment" column="gov_payment"/>
            <result property="paymentDate" column="payment_date"/>
            <result property="startMonthDate" column="start_month_date"/>
            <result property="endMonthDate" column="end_month_date"/>
            <result property="confirmNumber" column="term_confirm_number"/>
            <result property="earlyReturnDate" column="early_return_date"/>
            <result property="govPaymentUpdate" column="gov_payment_update"/>
        </collection>
    </resultMap>

	<select id="findApplicationDetailByApplicationNumber" resultMap="applicationDetailResultMap" parameterType="long">
	    SELECT
	        A.application_number,
	        A.status_code,
	        A.bank_code,
	        A.account_number,
	        A.gov_info_agree,
	        
	        U_APP.name AS user_name,
	        U_APP.registration_number AS user_registration_number,
	        U_APP.zip_number AS user_zip_number,
	        U_APP.address_base AS user_address_base,
	        U_APP.address_detail AS user_address_detail,
	        U_APP.phone_number AS user_phone_number,
	        
	        U_CORP.name AS company_name,
	        U_CORP.buisiness_regi_number AS company_buisiness_regi_number,
	        U_CORP.zip_number AS company_zip_number,
	        U_CORP.address_base AS company_address_base,
	        U_CORP.address_detail AS company_address_detail,
	        
	        C.confirm_number,
	        COALESCE(C.upd_start_date, C.start_date) AS start_date,
	        COALESCE(C.upd_end_date, C.end_date) AS end_date,
	        COALESCE(C.upd_regular_wage, C.regular_wage) AS regular_wage,
	        COALESCE(C.upd_weekly_hours, C.weekly_hours) AS weekly_hours,
	        COALESCE(C.upd_child_name, C.child_name) AS child_name,
	        COALESCE(C.upd_child_birth_date, C.child_birth_date) AS child_birth_date,
	        COALESCE(C.upd_child_resi_regi_number, C.child_resi_regi_number) AS child_resi_regi_number,
	        CO.name,
	        
	        CN.center_id,
	        CN.center_name,
	        CN.center_URL,
	        CN.center_zip_code,
	        CN.center_address_base,
	        CN.center_address_detail,
	        CN.center_phone_number,
	        
	        T.term_id,
	        T.company_payment,
	        T.gov_payment,
	        T.payment_date,
	        T.start_month_date,
	        T.end_month_date,
	        T.confirm_number AS term_confirm_number,
	        T.early_return_date,
	        T.gov_payment_update
	        
	    FROM 
	        TB_PARENTAL_LEAVE_APPLICATION A
	        
	        -- 2. 신청자 정보 조인 (A.user_id)
	        INNER JOIN TB_USER U_APP 
	            ON A.user_id = U_APP.id
	            
	        -- 3. 확인서 정보 조인
	        INNER JOIN TB_CONFIRM_APPLICATION C
	            ON A.confirm_number = C.confirm_number
	            
	        -- 4. 센터 정보 조인
	        INNER JOIN TB_CENTER CN
	            ON A.center_id = CN.center_id
	            
	        -- (수정됨) : 기업 정보 조인 (C.user_id 기준)
	        INNER JOIN TB_USER U_CORP
	            ON C.user_id = U_CORP.id
	            
	        INNER JOIN TB_CODE CO
	            ON A.bank_code = CO.code
	        
	        -- 5. 월별 급여 정보 조인
	        LEFT JOIN TB_TERM_AMOUNT T
	            ON A.confirm_number = T.confirm_number AND T.application_number = #{applicationNumber}
	            
	    WHERE
	        -- 1. 파라미터 필터링
	        A.application_number = #{applicationNumber} AND A.delt_at = 'N'
	</select>
    <update id="updateApplication" parameterType="long">
    	UPDATE TB_PARENTAL_LEAVE_APPLICATION
    	SET status_code = 'ST_20', submitted_dt = sysdate
    	WHERE application_number = #{applicationNumber}
    </update>
    <update id="deleteApplication" parameterType="long">
    	UPDATE TB_PARENTAL_LEAVE_APPLICATION
    	SET delt_at = 'Y'
    	WHERE application_number = #{applicationNumber}
    </update>
    <update id="cancelApplication" parameterType="long">
    	UPDATE TB_PARENTAL_LEAVE_APPLICATION
    	SET status_code = 'ST_10', submitted_dt = null
    	WHERE application_number = #{applicationNumber}
    </update>
    <update id="updateApplicationDetail" parameterType="com.example.renewal_firstclass.domain.ApplicationDTO">
    	UPDATE TB_PARENTAL_LEAVE_APPLICATION
    	SET
    		bank_code = #{bankCode},
    		account_number = #{accountNumber},
    		center_id = #{centerId},
    		gov_info_agree = #{govInfoAgree}
    	WHERE application_number = #{applicationNumber}
    </update>
    
    <select id="selectUsernameByConfirmNumber" parameterType="long" resultType="string">
        SELECT
            T_USER.username
        FROM
            TB_CONFIRM_APPLICATION T_APP
        INNER JOIN
            TB_USER T_USER ON COALESCE(T_APP.upd_registration_number, T_APP.registration_number) = T_USER.registration_number
        WHERE
            T_APP.confirm_number = #{confirmNumber} AND T_APP.delt_at = 'N'
    </select>
    
    <select id="selectUsernameByApplicationNumber" parameterType="long" resultType="string">
        SELECT
            T_USER.username
        FROM
            TB_PARENTAL_LEAVE_APPLICATION T_APP
        INNER JOIN
            TB_USER T_USER ON T_APP.user_id = T_USER.id
        WHERE
            T_APP.application_number = #{applicationNumber} AND T_APP.delt_at = 'N'
    </select>
    
    <update id="updateTermApply">
        UPDATE TB_TERM_AMOUNT
        SET application_number = #{applicationNumber}
        WHERE term_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    
	<update id="updateTermApplyBefore">
	    UPDATE TB_TERM_AMOUNT
	    SET application_number = null
	    WHERE term_id IN
	    <foreach collection="termIdList" item="id" open="(" separator="," close=")">
	        #{id}
	    </foreach>
	</update>
	
	<update id="updateTermEarly" parameterType="com.example.renewal_firstclass.domain.TermAmountDTO">
		UPDATE TB_TERM_AMOUNT
		SET early_return_date = #{endMonthDate}, gov_payment_update = #{govPayment}
		WHERE term_id = #{termId}
	</update>
	<update id="updateTermDelt" parameterType="com.example.renewal_firstclass.domain.TermAmountDTO">
		UPDATE TB_TERM_AMOUNT
		SET early_return_date = #{endMonthDate}
		WHERE <![CDATA[ start_month_date > #{startMonthDate} ]]> AND confirm_number = (select confirm_number from TB_TERM_AMOUNT where term_id = #{termId})
	</update>
	<update id="updateTermEarlyAndGov" parameterType="long">
		UPDATE TB_TERM_AMOUNT
		SET early_return_date = null, gov_payment_update = null
		WHERE confirm_number = (select distinct confirm_number from TB_TERM_AMOUNT where application_number = #{applicationNumber})
	</update>
	
	<select id="countByConfirmNumber" parameterType="long" resultType="long">
		SELECT application_number
		FROM TB_PARENTAL_LEAVE_APPLICATION
		WHERE confirm_number = #{confirmNumber} AND delt_at = 'N' AND status_code IN ('ST_10', 'ST_20', 'ST_30', 'ST_40')
	</select>
</mapper>